.tabContainer{
    position: relative;
    width: 100%;
}

.tabContainer .tabHeaders {
    display: inline-flex;
    background: var(--medium-navy);
    gap: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.tabContainer .tabHeaders div{
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.tabContainer .tabHeaders div:hover,
.tabContainer .tabHeaders .activeHeader{
    background: var(--darker-navy);
    color: white;
}

.tabContainer .inactiveTab{
    display: none;
}