.library-popup-content {
  margin: auto !important;
  background: none !important;
  border: none !important;
  width: 40% !important;
  height: 60% !important;
  border-radius: 20px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media only screen and (max-width: 1024px) {
  .library-popup-content {
    width: 50% !important;
  }
}

@media only screen and (max-width: 800px) {
  .library-popup-content {
    width: 60% !important;
  }
}

@media only screen and (max-width: 500px) {
  .library-popup-content {
    width: 90% !important;
  }
}
