.ratingForm {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: auto;
	background: var(--medium-navy);
	border-radius: 20px;
	font-size: 1.2em;
}

.ratingForm > div {
	margin-bottom: 10px;
}

.ratingForm > div:first-of-type {
	font-weight: bold;
	font-size: 1.2em;
}

.ratingForm > div:not(:first-of-type) {
	text-align: center;
}

.overallRating {
	display: flex;
	align-items: center;
	gap: 5px;
}

.container {
	display: flex;
	align-items: center;
}

.ratingForm > button {
	padding: 5px 0;
	display: block;
	background: var(--light-red);
	color: black;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1em;
	transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.ratingForm > button:disabled {
	opacity: 0.4;
}

.ratingForm > button:not(:disabled):hover {
	background: var(--red);
	cursor: pointer;
}

.ratingForm .ratingInput {
	align-self: center;
	width: 100%;
}

.ratingForm .ratingCount {
	color: rgba(255, 255, 255, 0.5);
}

.ratingForm .starInputRadio {
	visibility: hidden;
	height: 0;
	width: 0;
	margin: 0;
}

.ratingForm .starInputLabel {
	cursor: pointer;
}

.ratingForm .starInputDiv {
	text-align: center;
}

.ratingForm .starInputDiv:not(:first-of-type) {
	font-size: 1.2em;
	font-weight: bold;
}

.ratingForm .activeStar{
	display: inline;
	color: var(--gold);
}

.ratingForm .inactiveStar{
	display: inline;
	color: gray;
}

.ratingForm .idkWhatToNameThis{
	display: flex;
	align-items: center;
}