.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

.content {
    margin-top: 8px;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.authors {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #2c74b3;
}

.categories {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
.category {
    padding: 2px 8px;
    border-radius: 99px;
    color: black;
    background-color: #a2c9ec;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
