.toggleBTN{
	cursor: pointer;
	justify-self: start;
}

.ratingForm {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	height: auto;
	background: var(--medium-navy);
	border-radius: 20px;
	font-size: 1.2em;
}

.ratingForm > div {
	margin-bottom: 10px;
}

.ratingForm > div:first-of-type {
	font-weight: bold;
	font-size: 1.2em;
}

.ratingForm > div:not(:first-of-type) {
	text-align: center;
}

.overallRating {
	display: flex;
	align-items: center;
	gap: 5px;
}

.container {
	display: flex;
	align-items: center;
}

.ratingForm .btnContainer{
	display: flex;
	justify-content: space-around;
}

.confirmBTN, 
.cancelBTN {
	padding: 5px 10px;
	display: block;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1rem;
	transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.confirmBTN{
	color: black;
	background: var(--light-red);
}

.confirmBTN:disabled {
	opacity: 0.4;
}

.confirmBTN:not(:disabled):hover {
	background: var(--red);
}

.cancelBTN{
	color: white;
	background-color: var(--dark-navy);
}

.cancelBTN:hover{
	background-color: var(--blue);
}

.ratingForm .ratingInput {
	align-self: center;
	width: 100%;
}

.white-50-opac {
	color: rgba(255, 255, 255, 0.5);
}

.ratingForm .starInputRadio {
	visibility: hidden;
	height: 0;
	width: 0;
	margin: 0;
}

.ratingForm .starInputLabel {
	cursor: pointer;
}

.ratingForm .starInputDiv {
	text-align: center;
}

.ratingForm .starInputDiv:not(:first-of-type) {
	font-size: 1.2em;
	font-weight: bold;
}

.ratingForm .activeStar{
	display: inline;
	color: var(--gold);
}

.ratingForm .inactiveStar{
	display: inline;
	color: gray;
}

.ratingForm .idkWhatToNameThis{
	display: flex;
	align-items: center;
}

.loading{
	font-weight: bold;
	font-size: 2rem;
	font-family: inherit;
}