.chapterListContainer {
	margin-bottom: 50px;
}

.chapterListContainer > div:first-of-type {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 10px;
	color: white;
}

.chapterList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	color: white;
}

.chapterContainer {
	position: relative;
	background: var(--medium-navy);
	padding: 10px;
	border-radius: 12px;
	border: 2px solid var(--medium-navy);
	box-sizing: border-box;
	transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	cursor: pointer;
	font-size: 1rem;
}

.chapterContainer div:not(:first-of-type) {
	font-size: 1.2rem;
}

.chapterContainer:hover {
	border: 2px solid var(--very-light-blue);
	box-shadow: 5px 5px 5px var(--darker-navy);
}

/* .readLabel::after {
	content: 'Read';
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(30%, -50%);
	color: black;
	background: var(--red);
	border-radius: 15px;
	padding: 0 5px;
	font-size: 0.8rem;
	font-weight: bold;
} */

.paginationContainer {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 2px var(--darker-navy);
	margin-bottom: 20px;
	font-size: 1.2rem;
	height: 30px
}

.paginationContainer * {
	height: 100%;
	position:absolute;
}

.paginationContainer button{
	background: var(--light-blue);
	width: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}

.paginationContainer button:first-of-type{
	left: 0;
}

.paginationContainer button:last-of-type{
	right: 0;
}

.paginationContainer div{
	left: 44px;
	right: 44px;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	white-space: nowrap;
}

.paginationContainer div::-webkit-scrollbar{
	display: none;
}

.paginationContainer label{
	position: relative;
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.5);
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.paginationContainer input[type='radio']{
	display: none;
}

.paginationContainer label:hover,
.paginationContainer .activeLabel {
	background: var(--darker-navy);
	color: white;
}

@media only screen and (max-width: 1024px) {
	.chapterList {
		display: flex;
		flex-direction: column;
		column-gap: 10px;
		row-gap: 10px;
		color: white;
	}

	.chapterListContainer {
		margin-bottom: 80px;
	}
}
