.loadingContainer{
	font-size: 2rem;
	font-weight: bold;
	margin-top: 3rem;
	text-align: center;
}

.mobileDisplay{
	display: none;
	width: 100%;
}

.desktopDisplay{
	width: 100%;
}

.flex-margin-bot-20 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.genreList{
	flex-wrap: wrap;
	justify-content: unset;
	gap: 5px;
}

.coverImg {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	margin-bottom: 15px;
}

.actionBTNsContainer {
	font-size: 2rem;
	color: white;
	margin-top: 10px;
	align-items: center;
}

.actionBTNsContainer > span.disabledBTN{
	opacity: 0.5;
	padding: 10px;
}

.actionBTNsContainer > .editBTN{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.actionBTNsContainer > span:not(.disabledBTN) {
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	border-radius: 10px;
}

.actionBTNsContainer > span:not(.disabledBTN):hover {
	background: var(--medium-navy);
}

.genreList button,
.startReadingBTN {
	font-weight: 600;
	font-size: 1.1rem;
	border-radius: 15px;
	border: none;
	padding: 5px 10px;
	background: var(--very-light-blue);
	color: black;
	transition: opacity 0.2s ease-in-out;
}

.startReadingBTN:disabled{
	opacity: 0.4;
}

.startReadingBTN {
	width: 100%;
	font-size: 1.3rem;
	padding: 10px 0;
	display: block;
	background: var(--light-red);
	margin-bottom: 40px;
}

.startReadingBTN:not(:disabled):hover,
.genreList button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.rightColumnContainer {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.rightColumnContainer > div {
	width: 90%;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: start;
	color: white;
	width: 100%;
}

.detailsContainer {
	margin-bottom: 10px;
}

.rating{
	cursor: pointer;
	width: fit-content;
}

.synopsis {
	flex: 1;
	color: rgba(255, 255, 255, 0.75);
	max-height: 35vh;
	overflow-y: auto;
	margin-bottom: 30px;
}

.synopsis * {
	margin-top: 0;
}

.mangaTitle{
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}

.hoverableName{
	color: var(--light-blue);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.authorName {
	font-size: 1.5rem;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}

.hoverableName:hover {
	color: var(--very-light-blue);
}

.popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 100;
}

@media only screen and (max-width: 700px) {
	.mobileDisplay{
		display: block;
		margin-bottom: 10px;
	}

	.desktopDisplay{
		display: none;
	}

	.synopsis {
		flex: 0;
		max-height: max-content;
	}
}

@media only screen and (max-width: 400px){
	.actionBTNsContainer {
		font-size: 1.5rem;
	}
}