.mainContainer {
	display: grid;
	grid-template-columns: 25fr 75fr;
	width: 100%;
	margin-top: 4rem;
}

.leftColumnContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	color: black;
}

.leftColumnContainer > * {
	display: flex;
	margin-bottom: 20px;
}

.leftColumnContainer img {
	object-fit: contain;
	max-width: 90%;
	max-height: 90%;
	margin-top: 10px;
	border-radius: 5px;
}

.leftColumnContainer > div {
	width: 90%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 5px;
}

.actionBTNsContainer {
	font-size: 2rem;
	color: white;
}

.actionBTNsContainer > span.disabledBTN{
	opacity: 0.5;
}

.actionBTNsContainer > .editBTN{
	padding: 10px;
}

.actionBTNsContainer > span:not(.disabledBTN) {
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	border-radius: 10px;
}

.actionBTNsContainer > span:not(.disabledBTN):hover {
	background: var(--medium-navy);
}

.leftColumnContainer button {
	font-weight: 600;
	font-size: 1.1rem;
	border-radius: 15px;
	border: none;
	padding: 5px 10px;
	background: var(--very-light-blue);
	transition: opacity 0.2s ease-in-out;
}

.leftColumnContainer button:disabled{
	opacity: 0.5;
}

.leftColumnContainer .startReadingBTN {
	width: 90%;
	font-size: 1.3rem;
	padding: 10px 0;
	display: block;
	background: var(--light-red);
}

.leftColumnContainer button:not(:disabled):hover {
	opacity: 0.6;
	cursor: pointer;
}

.rightColumnContainer {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.rightColumnContainer > div {
	width: 90%;
}

.details {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	color: white;
}

.details > div {
	margin-bottom: 10px;
}

.rating{
	cursor: pointer;
	width: fit-content;
}

.synopsis {
	flex: 1;
	color: rgba(255, 255, 255, 0.75);
	max-height: 35vh;
	overflow-y: auto;
}

.synopsis * {
	margin-top: 0;
}

.rightColumnContainer h1{
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}

.hoverableName{
	color: var(--light-blue);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.authorName {
	font-size: 1.5rem;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}

.hoverableName:hover {
	color: var(--very-light-blue);
}

.popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 100;
}

@media only screen and (max-width: 1600px) {
	.mainContainer {
		grid-template-columns: 35fr 65fr;
	}
}

@media only screen and (max-width: 1200px) {
	.mainContainer {
		grid-template-columns: 40fr 60fr;
	}
}

@media only screen and (max-width: 1024px) {
	.mainContainer {
		grid-template-columns: 40fr 60fr;
		margin-bottom: 70px;
	}
}

@media only screen and (max-width: 900px) {
	.mainContainer {
		grid-template-columns: 45fr 55fr;
	}
}

@media only screen and (max-width: 700px) {
	.mainContainer {
		display: flex;
		flex-direction: column;
	}

	.leftColumnContainer img {
		max-width: 75%;
		max-height: 75%;
	}

	.leftColumnContainer > div,
	.rightColumnContainer > div,
	.leftColumnContainer .startReadingBTN {
		width: 75%;
	}

	.details {
		height: auto;
	}

	.synopsis {
		flex: 0;
		max-height: max-content;
	}
}

@media only screen and (max-width: 400px){
	.actionBTNsContainer {
		font-size: 1.5rem;
	}
}