.report-popup-content {
  margin: auto;
  background: none;
  border: none;
  width: 30%;
  height: 50%;
  border-radius: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px){
  .report-popup-content{
    width: 40%;
  }
}

@media only screen and (max-width: 900px){
  .report-popup-content{
    width: 50%;
  }
}

@media only screen and (max-width: 768px){
  .report-popup-content{
    width: 60%;
  }
}

@media only screen and (max-width: 600px){
  .report-popup-content{
    width: 95%;
  }
}