@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* colors */
    --dark-navy: rgb(10, 38, 71);
    --medium-navy: rgb(20, 66, 114);
    --blue: rgb(32, 82, 149);
    --light-blue: rgb(44, 116, 179);
    --darker-navy: rgb(6, 25, 46);
    --very-light-blue: rgb(162, 201, 236);
    --light-red: rgb(231, 143, 143);
    --red: rgb(221, 98, 96);
    --light-green: rgb(161, 247, 124);
    --light-gray: rgb(181, 181, 181);
    --sky-blue: rgb(108, 173, 230);
    --icon-white: rgb(232, 234, 237);
    --gold: rgb(255, 180, 88);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--dark-navy);
}
